  <body data-spy="scroll" data-offset="0" data-target="#theMenu">
    
  <!-- Menu -->
    <nav class="menu" id="theMenu">
    <div class="menu-wrap">
      <h1 class="logo"><a href="index.html#home">Menu</a></h1>
      <i class="icon-remove menu-close"></i>
      <a href="#home" class="smoothScroll">Home</a>
      <a href="#about" class="smoothScroll">About</a>
      <a href="#portfolio" class="smoothScroll">Projects</a>
      <a href="#contact" class="smoothScroll">Contact</a>
      <a href="https://www.linkedin.com/in/chrisgconnell"><i class="icon-linkedin"></i></a>
      <a href="https://github.com/cconnell"><i class="icon-github"></i></a>
    </div>
    
    <!-- Menu button -->
    <div id="menuToggle"><i class="icon-reorder"></i></div>
  </nav>


  
  <!-- ========== HEADER SECTION ========== -->
  <section id="home" name="home"></section>
  <div id="headerwrap">
    <div class="container">
      <div class="logo">
      </div>
      <br>
      <div class="row">
        <h1>HI, I'M CHRIS</h1>
        <br>
        <h3>I'm a web developer in Chicago</h3>
        <br>
        <br>
        <div class="col-lg-6 col-lg-offset-3">
        </div>
      </div>
    </div><!-- /container -->
  </div><!-- /headerwrap -->
  
  
  
  <!-- ========== ABOUT SECTION ========== -->
  <section id="about" name="about"></section>
  <div id="f">
    <div class="container">
      <div class="row">
        <h3>ABOUT ME</h3>
        <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
        <div class="col-lg-5">
          <div>
          <%= image_tag 'headshot.jpg', class: "headshot" %>
          </div>
        </div>
        
        <!-- INTRO INFORMATIO-->
        <div class="col-lg-7 bio">
          <p>I love simple, thoughtful design.</p>
          <p>And cheeseburgers.</p>
          <p>By definition, my job is to create web applications.</p>
          <p>But what it really means is that I get to solve</p>
          <h2>PUZZLES!</h2> 
          <p>to make technology more accessible.</p>
        </div>                
      </div>
    </div><!-- /container -->
  </div><!-- /f -->
  

  <!-- ========== CAROUSEL SECTION ========== --> 
  <section id="projects" name="portfolio"></section>
  <div id="f">
    <div class="container">
      <div class="row centered">
        <h3>SOME PROJECTS</h3>
        <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
        
        <div class="col-lg-6 col-lg-offset-3">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active centered">
                <img class="img-responsive" src="<%= image_path('c1.png') %>" alt="">
                <p id="project-description">A fun demonstration of how smart home technology can be used to unobtrusively convey information.  The web app delivers real-time hockey scoring updates by flashing a smart lamp in their home when one of the users’ favorite player scores.  Technologies used: Ruby on Rails, AngularJS, Bootstrap, HTML, CSS, several APIs, and the Philips Hue system.</p>
              </div>
              <div class="item centered">
                <img class="img-responsive" src="<%= image_path('c2.png') %>" alt="">
                <p id="project-description">Built with a small team for the John Marshall Law School Domestic Violence Clinic, the app helps clients to determine their eligibility for tax relief. A content management system is included for administrators to easily revise the questionnaire and other text.  Technologies used: Ruby on Rails, AngularJS, API, HTML, and CSS.</p>
              </div>
              <div class="item centered">
                <img class="img-responsive" src="<%= image_path('c3.png') %>" alt="">
                <p id="project-description">A web app to receive and evaluate grant applications submitted by local non-profit organizations.  Built with a small team for Social Venture Partners Chicago. The app provides the client a versatile platform to create and revise forms, rate completed forms, and manage several user levels.  Technologies used: Ruby on Rails, Javascript, and AngularJS.</p>
              </div>
            </div>
            <br>
            <br>
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
          </div>
        </div><!-- col-lg-8 -->
      </div><!-- row -->
    </div><!-- container -->
  </div>  <!-- f -->

  <!-- ========== CONTACT SECTION ========== -->
  <section id="contact" name="contact"></section>
  <div id="f">
    <div class="container">
      <div class="row">
        <h3>CONTACT ME</h3>
        <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
        
        <div class="col-lg-6 col-lg-offset-3">
          <p>LinkedIn</p>
          <p>Email Me</p>
          <p><button type="button" class="btn btn-warning">YEAH! CONTACT ME NOW!</button></p>
        </div>
      </div>
    </div>
  </div>

  

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

</body>
</html>
